@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje'), local('Homenaje-Regular'), url(http://fonts.gstatic.com/s/homenaje/v5/4S5MkF9F4U5BChzwjsyu0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
}
